<%- include('partials/_header'); %>



<!-- Uptade Model  -->

<div class="modal" id="photoShare">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Fotoğraf Paylaş</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form action="post/create"  method="POST"  enctype="multipart/form-data"  >

                    <div class="mb-3 p-3 ">
                        <label class="form-label required">Resim</label>
                        <input name="image" type="file" class="form-control">
                    </div>

                    <div class="p-3 d-flex align-items-center w-100" href="#">
                         
                        <div class="w-100">
                            <textarea  name="description" placeholder="Düşüncelerinizi yazın..." class="form-control border-0 p-3 " rows="5"></textarea>
                            <input type="hidden" name="userId" value="<%= user._id %>">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>

                        <button type="submit" data-bs-dismiss="modal" class="btn btn-danger   ">Cancel</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- Uptade Model  -->

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    $(document).ready(function () {
        $("#photoShare").modal('show');
    });
</script>



<div class="py-4">
    <div class="container">
        <div class="row">

            <main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
                <div class="box shadow-sm border rounded bg-white mb-3 osahan-share-post">
                    <ul class="nav nav-justified border-bottom osahan-line-tab" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                                <i class="feather-edit"></i>
                                Paylaş veya Yükle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" type="button"   data-bs-toggle="modal" data-bs-target="#photoShare"    >
                                <i class="feather-image"></i>
                                Fotoğraf Yükle</a>
                        </li>

                    </ul>

                    <form action="post/create" method="POST" enctype="multipart/form-data" >

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane   active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="p-3 d-flex align-items-center w-100" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="<%= user.image %>" alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="w-100">
                                        <textarea name="description" placeholder="Düşüncelerinizi yazın..." class="form-control border-0 p-0  " rows="1"></textarea>
                                        <input type="hidden" name="userId" value="<%= user._id %>">
                                        

                                    </div>
                                </div>
                            </div>
                            <div class="border-top p-3 d-flex align-items-center">
                                <div class="mr-auto"></div>
                                <div class=" ">
                                    <button type="submit" class="btn btn-primary btn-sm">Gönderi Paylaş</button>
                                </div>
                            </div>

                        </div>


                    </form>
 

                </div>

                <% for (var i = 0; i < post.length; i++) {   %> 

               


                    <div class="box shadow-sm border rounded bg-white mb-3 osahan-post">
                        <div class="p-3 d-flex align-items-center border-bottom osahan-post-header">
                            <div class="dropdown-list-image mr-3">
                                <img class="rounded-circle" src="<%= post[i].user.image %> " alt="">
                                <div class="status-indicator bg-success"></div>
                            </div>
                            <div class="font-weight-bold">
                                <div class="text-truncate"><%= post[i].user.name %> </div>
                                <div class="small text-gray-500"><%= post[i].user.title %> </div>
                            </div>
                            <span class="ml-auto small"><%= (post[i].createdAt).toISOString().split('T')[0] %></span>
                        </div>
                        <div class="p-3 border-bottom osahan-post-body">

                            <% if(  post[i].description  ){ %>
                                <p class="mb-0"><%= post[i].description %></p>
                           <% } %>
                           

                            <% if(  post[i].image  ){ %>
                                <img src="<%= post[i].image %>" class="img-fluid" alt="Responsive image">

                           <% } %>
                            
                        </p>
                    </div>
                    <div class="p-3 border-bottom osahan-post-footer">




                        <%     if(  post[i].userId ==  "true"   ){   %>
                     
                            <form class="font-weight-bold p-3 d-inline " method="POST" action="/post/unlike">
                                <input type="hidden" name="post_id" value="<%= post[i]._id %>">
                              <button class="btn btn-white">
                                <a  class="mr-3 text-secondary">
                                    <i class="fa-regular fa-thumbs-down"></i>
                                    <%= post[i].like.length %> unlike
                                </a>
                              </button>  
                            </form>

                         <%    }  else {  %>


                                <form class="font-weight-bold p-3 d-inline " method="POST" action="/post/like">
                                    <input type="hidden" name="post_id" value="<%= post[i]._id %>">
                                  <button class="btn btn-white">
                                    <a  class="mr-3 text-secondary">
                                        <i class="fa-regular fa-thumbs-up"></i>
                                        <%= post[i].like.length %> like
                                    </a>
                                  </button>  
                                </form>

                          <%   }    %>






 
 
                        <a href="#" class="mr-3 text-secondary">
                            <i class="feather-message-square"></i>
                            8</a>
                        <a href="#" class="mr-3 text-secondary">
                            <i class="feather-share-2"></i>
                            2</a>
                    </div>
                    <!-- <div class="p-3">
                        <button type="button" class="btn btn-outline-primary btn-sm mr-1">Awesome!!</button>
                        <button type="button" class="btn btn-light btn-sm mr-1">😍</button>
                        <button type="button" class="btn btn-outline-secondary btn-sm mr-1">Whats it about?</button>
                        <button type="button" class="btn btn-outline-secondary btn-sm mr-1">Oooo Great Wow</button>
                    </div> -->
                </div>


            <%  }  %>


        </main>
        <aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
            <div class="box mb-3 shadow-sm border rounded bg-white profile-box text-center">
                <div class="py-4 px-3 border-bottom">
                    <img src="<%= user.image %>" class="img-fluid mt-2 rounded-circle" alt="Responsive image">
                    <h5 class="font-weight-bold text-dark mb-1 mt-4"><%= user.name %></h5>
                    <p class="mb-0 text-muted"><%= user.title %></p>
                </div>
                <div class="d-flex">

                    <div class="col-6 p-3">
                        <h6 class="font-weight-bold text-dark mb-1"><%= totalFollowers%></h6>
                        <p class="mb-0 text-black-50 small">Followers</p>
                    </div>

                    <div class="col-6 border-right p-3">
                        <h6 class="font-weight-bold text-dark mb-1"><%= totalFollowing%></h6>
                        <p class="mb-0 text-black-50 small">Following</p>
                    </div>
                </div>
                <div class="overflow-hidden border-top">
                    <a class="font-weight-bold p-3 d-block" href="/profile/<%= user._id %>">
                        Profilimi Görüntüle
                    </a>
                </div>
            </div>
            <div class="box mb-3 shadow-sm rounded bg-white view-box overflow-hidden">

                <div class="d-flex text-center"></div>
            </div>
            <div class="box shadow-sm mb-3 rounded bg-white ads-box text-center">
                <img src="img/p13.png" class="img-fluid" alt="Responsive image">
                <div class="p-3 border-bottom">
                    <h6 class="font-weight-bold text-dark">Osahan Solutions</h6>
                    <p class="mb-0 text-muted">Looking for talent?</p>
                </div>
                <div class="p-3">
                    <button type="button" class="btn btn-outline-primary pl-4 pr-4">
                        POST A JOB
                    </button>
                </div>
            </div>
        </aside>
        <aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">
            <div class="box shadow-sm border rounded bg-white mb-3">
                <div class="box-title border-bottom p-3">
                    <h6 class="m-0">Tanıyor Olabileceğin İnsanlar</h6>
                </div>
                <div class="box-body p-3">
                    <% users.forEach( user => {%>

                     
                        <div class="d-flex align-items-center osahan-post-header mb-3 people-list">
                            <div class="dropdown-list-image mr-3">
                                <img class="rounded-circle" src="<%= user.image %>" alt=""> 
                            </div>
                            <div class="font-weight-bold mr-2">
                                <div class="text-truncate"><%= user.name %></div>
                                <div class="small text-gray-500"><%= user.title %></div>
                            </div>
                            <span class="ml-auto">
                                <a href="/profile/<%= user._id %> " type="button" class="btn btn-light btn-sm">
                                    <i class="fa-solid fa-square-up-right"></i>
                                </a>
                            </span>
                        </div>



                  <%   })%>
                 
                 
                </div>
            </div>
            <div class="box shadow-sm border rounded bg-white mb-3">
                <div class="box-title border-bottom p-3 d-flex align-items-center">
                    <h6 class="m-0">Fotoğraflar</h6>
                    <a class="ml-auto" href="#">Hepsini Gör<i class="feather-chevron-right"></i>
                    </a>
                </div>
                <div class="box-body p-3">
                    <div class="gallery-box-main">
                        <div class="gallery-box">
                            <img class="img-fluid" src="img/p13.png" alt="">
                            <img class="img-fluid" src="img/p13.png" alt="">
                            <img class="img-fluid" src="img/p13.png" alt="">
                        </div>
                        <div class="gallery-box">
                            <img class="img-fluid" src="img/p13.png" alt="">
                            <img class="img-fluid" src="img/p13.png" alt="">
                            <img class="img-fluid" src="img/p13.png" alt="">
                        </div>
                        <div class="gallery-box">
                            <img class="img-fluid" src="img/p13.png" alt="">
                            <img class="img-fluid" src="img/p13.png" alt="">
                            <img class="img-fluid" src="img/p13.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="box shadow-sm mb-3 rounded bg-white ads-box text-center overflow-hidden">
                <img src="img/p13.png" class="img-fluid" alt="Responsive image">
                <div class="p-3 border-bottom">
                    <h6 class="font-weight-bold text-gold">Osahanin Premium</h6>
                    <p class="mb-0 text-muted">Grow & nurture your network</p>
                </div>
                <div class="p-3">
                    <button type="button" class="btn btn-outline-gold pl-4 pr-4">
                        ACTIVATE
                    </button>
                </div>
            </div>
            <% if( user.companyName ) { %>
                <div  >
                    <div class="shadow-sm border rounded bg-white job-item mb-3">
                        <div class="d-flex align-items-center p-3 job-item-header">
                            <div class="overflow-hidden mr-2">
                                <h6 class="font-weight-bold text-dark mb-2 text-truncate"> <%= user.position%></h6>
                                <div class="text-truncate text-primary mb-2 "> <%= user.companyName%></div>
                                <div class="small text-gray-500">
                                   
                                        <i class="feather-clock"></i>
                                        <%= user.oTime%> 
                                </div>
                            </div>
                            <i style=" font-size:90px;" class="    ml-auto fa-solid fa-briefcase"></i>
                            <!-- <img class="img-fluid ml-auto" src=" " alt="">-->
                        </div> 
                   
                       
                    </div>
                </div>

          <%   }%>
        </aside>
    </div>
</div></div><%- include('partials/_footer'); %>
