<%- include('newpartials/_header'); %>
<div class="py-4">
    <div class="container">
        <div class="row">

            <main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
                <div class="box shadow-sm border rounded bg-white mb-3 osahan-share-post">
                    <ul class="nav nav-justified border-bottom osahan-line-tab" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                                <i class="feather-edit"></i>
                                Paylaş veya Yükle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                                <i class="feather-image"></i>
                                Fotoğraf Yükle</a>
                        </li>

                    </ul>

                    <form action="post/create" method="POST">

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="p-3 d-flex align-items-center w-100" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="<%= user.image %>" alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="w-100">
                                        <textarea name="description" placeholder="Düşüncelerinizi yazın..." class="form-control border-0 p-0  " rows="1"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="border-top p-3 d-flex align-items-center">
                                <div class="mr-auto"></div>
                                <div class=" ">
                                    <button type="button" class="btn btn-primary btn-sm">Gönderi Paylaş</button>
                                </div>
                            </div>

                        </div>


                    </form>

                    <form action="post/create" method="POST">

                        <input type="text" name="description">
                        <button type="submit">Gönder</button>
                    </form>

                </div>

                <% for (var i = 0; i < post.length; i++) {   %>


                    <div class="box shadow-sm border rounded bg-white mb-3 osahan-post">
                        <div class="p-3 d-flex align-items-center border-bottom osahan-post-header">
                            <div class="dropdown-list-image mr-3">
                                <img class="rounded-circle" src="img/p13.png" alt="">
                                <div class="status-indicator bg-success"></div>
                            </div>
                            <div class="font-weight-bold">
                                <div class="text-truncate">Fahrettin GÖKTAŞ</div>
                                <div class="small text-gray-500">Fırat Üniversitesi</div>
                            </div>
                            <span class="ml-auto small"><%= post[i].createdAt %></span>
                        </div>
                        <div class="p-3 border-bottom osahan-post-body">
                            <p class="mb-0"><%= post[i].description %></p>
                        </p>
                    </div>
                    <div class="p-3 border-bottom osahan-post-footer">
                        <a href="#" class="mr-3 text-secondary">
                            <i class="feather-heart text-danger"></i>
                            16</a>
                        <a href="#" class="mr-3 text-secondary">
                            <i class="feather-message-square"></i>
                            8</a>
                        <a href="#" class="mr-3 text-secondary">
                            <i class="feather-share-2"></i>
                            2</a>
                    </div>
                    <div class="p-3">
                        <button type="button" class="btn btn-outline-primary btn-sm mr-1">Awesome!!</button>
                        <button type="button" class="btn btn-light btn-sm mr-1">😍</button>
                        <button type="button" class="btn btn-outline-secondary btn-sm mr-1">Whats it about?</button>
                        <button type="button" class="btn btn-outline-secondary btn-sm mr-1">Oooo Great Wow</button>
                    </div>
                </div>


            <%  }  %>


        </main>
        <aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
            <div class="box mb-3 shadow-sm border rounded bg-white profile-box text-center">
                <div class="py-4 px-3 border-bottom">
                    <img src="<%= user.image %>" class="img-fluid mt-2 rounded-circle" alt="Responsive image">
                    <h5 class="font-weight-bold text-dark mb-1 mt-4"><%= user.name %></h5>
                    <p class="mb-0 text-muted"><%= user.title %></p>
                </div>
                <div class="d-flex">

                    <div class="col-6 p-3">
                        <h6 class="font-weight-bold text-dark mb-1"><%= totalFollowers%></h6>
                        <p class="mb-0 text-black-50 small">Followers</p>
                    </div>

                    <div class="col-6 border-right p-3">
                        <h6 class="font-weight-bold text-dark mb-1"><%= totalFollowing%></h6>
                        <p class="mb-0 text-black-50 small">Following</p>
                    </div>
                </div>
                <div class="overflow-hidden border-top">
                    <a class="font-weight-bold p-3 d-block" href="/profile/<%= user._id %>">
                        Profilimi Görüntüle
                    </a>
                </div>
            </div>
            <div class="box mb-3 shadow-sm rounded bg-white view-box overflow-hidden">

                <div class="d-flex text-center"></div>
            </div>
            <div class="box shadow-sm mb-3 rounded bg-white ads-box text-center">
                <img src="img/p13.png" class="img-fluid" alt="Responsive image">
                <div class="p-3 border-bottom">
                    <h6 class="font-weight-bold text-dark">Osahan Solutions</h6>
                    <p class="mb-0 text-muted">Looking for talent?</p>
                </div>
                <div class="p-3">
                    <button type="button" class="btn btn-outline-primary pl-4 pr-4">
                        POST A JOB
                    </button>
                </div>
            </div>
        </aside>
        <aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">
            <div class="box shadow-sm border rounded bg-white mb-3">
                <div class="box-title border-bottom p-3">
                    <h6 class="m-0">Tanıyor Olabileceğin İnsanlar</h6>
                </div>
                <div class="box-body p-3">
                    <div class="d-flex align-items-center osahan-post-header mb-3 people-list">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="img/p13.png" alt="">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold mr-2">
                            <div class="text-truncate">Ayşe DEMİR</div>
                            <div class="small text-gray-500">Fırat Üniversitesi</div>
                        </div>
                        <span class="ml-auto">
                            <button type="button" class="btn btn-light btn-sm">
                                <i class="feather-user-plus"></i>
                            </button>
                        </span>
                    </div>
                    <div class="d-flex align-items-center osahan-post-header mb-3 people-list">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="img/p13.png" alt="">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold mr-2">
                            <div class="text-truncate">Faruk KIRAN</div>
                            <div class="small text-gray-500">Fırat Üniversitesi
                            </div>
                        </div>
                        <span class="ml-auto">
                            <button type="button" class="btn btn-light btn-sm">
                                <i class="feather-user-plus"></i>
                            </button>
                        </span>
                    </div>
                    <div class="d-flex align-items-center osahan-post-header mb-3 people-list">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="img/p13.png" alt="">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold mr-2">
                            <div class="text-truncate">İlayda ERDEN</div>
                            <div class="small text-gray-500">Fırat Üniversitesi
                            </div>
                        </div>
                        <span class="ml-auto">
                            <button type="button" class="btn btn-light btn-sm">
                                <i class="feather-user-plus"></i>
                            </button>
                        </span>
                    </div>
                    <div class="d-flex align-items-center osahan-post-header mb-3 people-list">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="img/p13.png" alt="">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold mr-2">
                            <div class="text-truncate">Fatih ÇINAR</div>
                            <div class="small text-gray-500">Fırat Üniversitesi
                            </div>
                        </div>
                        <span class="ml-auto">
                            <button type="button" class="btn btn-light btn-sm">
                                <i class="feather-user-plus"></i>
                            </button>
                        </span>
                    </div>
                    <div class="d-flex align-items-center osahan-post-header people-list">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="img/p13.png" alt="">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold mr-2">
                            <div class="text-truncate">Hamza BAL</div>
                            <div class="small text-gray-500">Fırat Üniversitesi</div>
                        </div>
                        <span class="ml-auto">
                            <button type="button" class="btn btn-light btn-sm">
                                <i class="feather-user-plus"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="box shadow-sm border rounded bg-white mb-3">
                <div class="box-title border-bottom p-3 d-flex align-items-center">
                    <h6 class="m-0">Fotoğraflar</h6>
                    <a class="ml-auto" href="#">Hepsini Gör<i class="feather-chevron-right"></i>
                    </a>
                </div>
                <div class="box-body p-3">
                    <div class="gallery-box-main">
                        <div class="gallery-box">
                            <img class="img-fluid" src="img/p13.png" alt="">
                            <img class="img-fluid" src="img/p13.png" alt="">
                            <img class="img-fluid" src="img/p13.png" alt="">
                        </div>
                        <div class="gallery-box">
                            <img class="img-fluid" src="img/p13.png" alt="">
                            <img class="img-fluid" src="img/p13.png" alt="">
                            <img class="img-fluid" src="img/p13.png" alt="">
                        </div>
                        <div class="gallery-box">
                            <img class="img-fluid" src="img/p13.png" alt="">
                            <img class="img-fluid" src="img/p13.png" alt="">
                            <img class="img-fluid" src="img/p13.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="box shadow-sm mb-3 rounded bg-white ads-box text-center overflow-hidden">
                <img src="img/p13.png" class="img-fluid" alt="Responsive image">
                <div class="p-3 border-bottom">
                    <h6 class="font-weight-bold text-gold">Osahanin Premium</h6>
                    <p class="mb-0 text-muted">Grow & nurture your network</p>
                </div>
                <div class="p-3">
                    <button type="button" class="btn btn-outline-gold pl-4 pr-4">
                        ACTIVATE
                    </button>
                </div>
            </div>
            <div class="box shadow-sm border rounded bg-white mb-3">
                <div class="box-title border-bottom p-3">
                    <h6 class="m-0">İşler
                    </h6>
                </div>
                <div class="box-body p-3">
                    <a href="job-profile.html">
                        <div class="shadow-sm border rounded bg-white job-item mb-3">
                            <div class="d-flex align-items-center p-3 job-item-header">
                                <div class="overflow-hidden mr-2">
                                    <h6 class="font-weight-bold text-dark mb-0 text-truncate">Product Director</h6>
                                    <div class="text-truncate text-primary">Spotify Inc.</div>
                                    <div class="small text-gray-500">
                                        <i class="feather-map-pin"></i>
                                        India, Punjab</div>
                                </div>
                                <img class="img-fluid ml-auto" src="img/l3.png" alt="">
                            </div>
                            <div class="d-flex align-items-center p-3 border-top border-bottom job-item-body">
                                <div class="overlap-rounded-circle">
                                    <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="Ayşe DEMİR">
                                    <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="Faruk KIRAN">
                                    <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="İlayda ERDEN">
                                    <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="Fatih ÇINAR">
                                </div>
                                <span class="font-weight-bold text-muted">18 Bağs</span>
                            </div>
                            <div class="p-3 job-item-footer">
                                <small class="text-gray-500">
                                    <i class="feather-clock"></i>
                                    Posted 3 Days ago</small>
                            </div>
                        </div>
                    </a>
                    <a href="job-profile.html">
                        <div class="shadow-sm border rounded bg-white job-item">
                            <div class="d-flex align-items-center p-3 job-item-header">
                                <div class="overflow-hidden mr-2">
                                    <h6 class="font-weight-bold text-dark mb-0 text-truncate">.NET Developer</h6>
                                    <div class="text-truncate text-primary">Invision</div>
                                    <div class="small text-gray-500">
                                        <i class="feather-map-pin"></i>
                                        London, UK
                                    </div>
                                </div>
                                <img class="img-fluid ml-auto" src="img/l4.png" alt="">
                            </div>
                            <div class="d-flex align-items-center p-3 border-top border-bottom job-item-body">
                                <div class="overlap-rounded-circle">
                                    <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="Ayşe DEMİR">
                                    <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="Faruk KIRAN">
                                    <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="Fatih ÇINAR">
                                </div>
                                <span class="font-weight-bold text-muted">18 Bağs</span>
                            </div>
                            <div class="p-3 job-item-footer">
                                <small class="text-gray-500">
                                    <i class="feather-clock"></i>
                                    Posted 3 Days ago</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </aside>
    </div>
</div></div><%- include('newpartials/_footer'); %>
