<%- include('partials/_header'); %>


    <!-- Uptade Model  -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content" style="width:150%">
                <div class="modal-header">
                    <h5 class="modal-title">Profil Düzenle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/profileUpdate/<%= userProfile._id%>?_method=PUT"
                        enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label required">Resim</label>
                                    <input name="image" type="file" class="form-control">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label required">Name</label>
                                    <input value="<%= userProfile.name%>" name="name" type="text"
                                        placeholder="Enter name" class="form-control" id="exampleInput">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label required">Title</label>
                                    <input value="<%= userProfile.title%>" name="title" type="text"
                                        placeholder="Enter title" class="form-control" id="exampleInput">
                                </div>


                                <div class="mb-3">
                                    <label class="form-label required">About</label>
                                    <textarea name="about" class="form-control"><%= userProfile.about%></textarea>
                                </div>
                                <input name="old_img" type="hidden" value="<%= userProfile.image %>"
                                    class="form-control">


                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label required">Yetenekler (Aralara " , " koyarak yazmanızı
                                        öneririz.)</label>
                                    <textarea placeholder="(HTML,CSS,JavaScript)" name="skills"
                                        class="form-control"><%= userProfile.skills%></textarea>
                                </div>
                                <h3>İş Hayatınız</h3>
                                <div class="mb-3">
                                    <label class="form-label required">Firma İsmi</label>
                                    <input value="<%= userProfile.companyName%>" name="companyName" type="text"
                                        placeholder="Firma İsmi" class="form-control" id="exampleInput">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label required">Firmanızdaki Göreviniz</label>
                                    <input value="<%= userProfile.position%>" name="position" type="text"
                                        placeholder="Firmanızdaki Göreviniz" class="form-control" id="exampleInput">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label required">Çalışma Süreniz</label>
                                    <input value="<%= userProfile.oTime%>" name="oTime" type="text"
                                        placeholder="Çalışma Süreniz Ay Olarak" class="form-control" id="exampleInput">
                                </div>

                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>

                            <button type="submit" data-bs-dismiss="modal" class="btn btn-danger   ">Cancel</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Uptade Model  -->
  
    <script  
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous" >
     
        $(document).ready(function () {
            $("#myModal").modal('show');
        });
    </script>


    <div class="py-4">


        <div class="container">

            <div class="row">


                <aside class="col col-xl-3 order-xl-1 col-lg-12 order-lg-1 col-12">
                    <div class="box mb-3 shadow-sm border rounded bg-white profile-box text-center">
                        <div class="py-4 px-3 border-bottom">
                            <img src="<%= userProfile.image %>" class="img-fluid mt-2 rounded-circle"
                                alt="Responsive image">
                            <h5 class="font-weight-bold text-dark mb-1 mt-4">
                                <%= userProfile.name%>
                            </h5>
                            <p class="mb-0 text-muted">
                                <%= userProfile.title%>
                            </p>
                        </div>
                        <div class="d-flex">

                            <div class="col-6 p-3">
                                <h6 class="font-weight-bold text-dark mb-1">
                                    <%= totalFollowers%>
                                </h6>
                                <p class="mb-0 text-black-50 small">Takipçiler</p>
                            </div>

                            <div class="col-6 border-right p-3">
                                <h6 class="font-weight-bold text-dark mb-1">
                                    <%= totalFollowing%>
                                </h6>
                                <p class="mb-0 text-black-50 small">Takip Edilenler</p>
                            </div>

                        </div>
                        <% if (!active){ %>


                            <% if ( !(user.following.includes(userProfile._id))) { %>
                                <div class="overflow-hidden border-top text-center ">

                                    <form class="font-weight-bold p-3 d-block" method="POST" action="/profilefollow">
                                        <input type="hidden" name="user_id" value="<%= userProfile._id%>">
                                        <button class="btn btn-primary btn-sm">
                                            <span>Takip Et</span>
                                        </button>
                                    </form>

                                </div>

                                <% }else{ %>

                                    <div class="overflow-hidden border-top text-center">
                                        <form class="font-weight-bold p-3 d-block" method="POST"
                                            action="/profileunfollow">
                                            <input type="hidden" name="user_id" value="<%= userProfile._id%>">
                                            <button class=" btn btn-danger btn-sm  ">
                                                <span>Takipten Çık</span>
                                            </button>
                                        </form>


                                    </div>


                                    <% } %>


                                        <% }%>

                                            <% if (active){ %>

                                                <div class="d-flex">
                                                    <div class="col-6 border-right p-3">
                                                        <a type="button"
                                                            class=" btn btn-secondary font-weight-bold p-3 d-block"
                                                            href="/users/logout">
                                                            Çıkış Yap
                                                        </a>
                                                    </div>
                                                    <div class="col-6 p-3">
                                                        <a type="button" class="btn btn-light font-weight-bold  d-block"
                                                            data-bs-toggle="modal" data-bs-target="#myModal">Profil
                                                            Düzenle</a>


                                                    </div>

                                                </div>


                                                <% }%>


                    </div>

                    <%if( userProfile.skills ){ %>
                        <div class="box shadow-sm border rounded bg-white mb-3">
                            <div class="box-title border-bottom p-3">
                                <h6 class="m-0">Yetenekler && Beceriler</h6>
                            </div>
                            <div class="box-body">
                                <div class="p-3    " style="font-size:20px;">
                                    <% userProfile.skills.split(',').forEach( skill=> { %>

                                        <span class="badge badge-pill badge-light mt-1  mr-1 p-2 ">
                                            <%=skill %>
                                        </span>

                                        <% }) %>


                                </div>

                            </div>
                        </div>
                        <% }%>


                            <div class="box shadow-sm mb-3 rounded bg-white ads-box text-center overflow-hidden">
                                <img src="  " class="img-fluid" alt="Responsive image">
                                <div class="p-3 border-bottom">
                                    <h6 class="font-weight-bold text-dark">Osahan Solutions</h6>
                                    <p class="mb-0 text-muted">Looking for talent?</p>
                                </div>
                                <div class="p-3">
                                    <button type="button" class="btn btn-outline-primary pl-4 pr-4">
                                        POST A JOB
                                    </button>
                                </div>
                            </div>
                </aside>
                <main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-2 col-md-12 col-sm-12 col-12">
                    <div class="box shadow-sm border rounded bg-white mb-3">
                        <div class="box-title border-bottom p-3">
                            <h6 class="m-0">About You</h6>
                        </div>
                        <div class="box-body p-3">
                            <p>
                                <%= userProfile.about%>
                            </p>

                        </div>
                    </div>
                    <!-- <div class="box shadow-sm border rounded bg-white mb-3">
                    <div class="box-title border-bottom p-3">
                        <h6 class="m-0">Experience</h6>
                    </div>
                    <div class="box-body p-3 border-bottom">
                        <div class="d-flex align-items-top job-item-header pb-2">
                            <div class="mr-2">
                                <h6 class="font-weight-bold text-dark mb-0">Web designer</h6>
                                <div class="text-truncate text-primary">Spotify Inc.</div>
                                <div class="small text-gray-500">Oct 2020 - Present (4 year 7 month)
                                </div>
                            </div>
                            <img class="img-fluid ml-auto mb-auto" src="  " alt="">
                        </div>
                        <p class="mb-0">Find the most qualified people in the most unexpected places. Information for applicants to consider when applying for local positions.
                        </p>
                    </div>
                    <div class="box-body p-3 border-bottom">
                        <div class="d-flex align-items-top job-item-header pb-2">
                            <div class="mr-2">
                                <h6 class="font-weight-bold text-dark mb-0">Cloud Software Engineer</h6>
                                <div class="text-truncate text-primary">Spotify Inc.</div>
                                <div class="small text-gray-500">Oct 2020 - Present (4 year 7 month)
                                </div>
                            </div>
                            <img class="img-fluid ml-auto mb-auto" src="  " alt="">
                        </div>
                        <p class="mb-0">Find the most qualified people in the most unexpected places. Information for..
                        </p>
                    </div>
                    <div class="box-body p-3">
                        <div class="d-flex align-items-top job-item-header pb-2">
                            <div class="mr-2">
                                <h6 class="font-weight-bold text-dark mb-0">UI/UX designer</h6>
                                <div class="text-truncate text-primary">Behance</div>
                                <div class="small text-gray-500">Oct 2020 - Present (4 year 7 month)
                                </div>
                            </div>
                            <img class="img-fluid ml-auto mb-auto" src="  " alt="">
                        </div>
                        <p class="mb-0">Wualified people in the most unexpected places. Information for applicants to consider when applying for local positions. The largest community on the web to find and list jobs that aren't restricted by commutes or a specific location.
                        </p>
                    </div>
                </div> -->
                    <!-- <div class="box shadow-sm border rounded bg-white mb-3">
                    <div class="box-title border-bottom p-3">
                        <h6 class="m-0">Education</h6>
                    </div>
                    <div class="box-body p-3 border-bottom">
                        <div class="d-flex align-items-top job-item-header pb-2">
                            <div class="mr-2">
                                <h6 class="font-weight-bold text-dark mb-0">Stanford University</h6>
                                <div class="text-truncate text-primary">Master’s programmes</div>
                                <div class="small text-gray-500">Oct 2020 - Present (4 year 7 month)
                                </div>
                            </div>
                            <img class="img-fluid ml-auto mb-auto" src="  " alt="">
                        </div>
                        <p class="mb-0">Find the most qualified people in the most unexpected places. Information for applicants to consider when applying for local positions.</p>
                    </div>
                    <div class="box-body p-3">
                        <div class="d-flex align-items-top job-item-header pb-2">
                            <div class="mr-2">
                                <h6 class="font-weight-bold text-dark mb-0">Harvard University</h6>
                                <div class="text-truncate text-primary">Maths and science education</div>
                                <div class="small text-gray-500">Oct 2020 - Present (4 year 7 month)
                                </div>
                            </div>
                            <img class="img-fluid ml-auto mb-auto" src="  " alt="">
                        </div>
                        <p class="mb-0">Wualified people in the most unexpected places. Information for applicants to consider when applying for local positions.</p>
                    </div>
                </div>   -->

                    <% for (var i=0; i < post.length; i++) { %>


                        <div class="box shadow-sm border rounded bg-white mb-3 osahan-post">
                            <div class="p-3 d-flex align-items-center border-bottom osahan-post-header">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="<%= post[i].user.image %> " alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold">
                                    <div class="text-truncate">
                                        <%= post[i].user.name %>
                                    </div>
                                    <div class="small text-gray-500">
                                        <%= post[i].user.title %>
                                    </div>
                                </div>
                                <span class="ml-auto small">
                                    <%= (post[i].createdAt).toISOString().split('T')[0] %>
                                </span>
                            </div>
                            <div class="p-3 border-bottom osahan-post-body">

                                <% if( post[i].description ){ %>
                                    <p class="mb-0">
                                        <%= post[i].description %>
                                    </p>
                                    <% } %>


                                        <% if( post[i].image ){ %>
                                            <img src="<%= post[i].image %>" class="img-fluid" alt="Responsive image">

                                            <% } %>
                                                </p>
                            </div>
                            <div class="p-3 border-bottom osahan-post-footer">
                                <% if( post[i].userId=="true" ){ %>

                                    <form class="font-weight-bold p-3 d-inline " method="POST" action="/post/unlike">
                                        <input type="hidden" name="post_id" value="<%= post[i]._id %>">
                                        <button class="btn btn-white">
                                            <a class="mr-3 text-secondary">
                                                <i class="fa-regular fa-thumbs-down"></i>
                                                <%= post[i].like.length %> unlike
                                            </a>
                                        </button>
                                    </form>

                                    <% } else { %>


                                        <form class="font-weight-bold p-3 d-inline " method="POST" action="/post/like">
                                            <input type="hidden" name="post_id" value="<%= post[i]._id %>">
                                            <button class="btn btn-white">
                                                <a class="mr-3 text-secondary">
                                                    <i class="fa-regular fa-thumbs-up"></i>
                                                    <%= post[i].like.length %> like
                                                </a>
                                            </button>
                                        </form>

                                        <% } %>




                                            <a href="#" class="mr-3 text-secondary">
                                                <i class="feather-message-square"></i>
                                                8</a>
                                            <a href="#" class="mr-3 text-secondary">
                                                <i class="feather-share-2"></i>
                                                2</a>


                                            <a href="/post/<%=  post[i]._id %>?_method=DELETE"
                                                onclick="return confirm('Are you Sure')"
                                                class="btn btn-outline-light btn-sm mr-1 " style="float: right;">
                                                <i class="fa-solid fa-trash-can-arrow-up"></i>
                                                Sil
                                            </a>

                                            <a href=""  class="btn btn-outline-light btn-sm mr-1 " style="float: right;"  data-bs-toggle="myModala"
                                            data-bs-target="myModala" >
                                                <i class="fa-solid fa-square-pen"></i>
                                                Güncelle
                                            </a>
                                           
                            </div>

                        </div> 
                  

                       
                    
                    
                            <% } %>
                              
                        

                </main>
                <aside class="col col-xl-3 order-xl-3 col-lg-12 order-lg-3 col-12">
                    <div class="box shadow-sm border rounded bg-white mb-3">
                        <div class="box-title border-bottom p-3">
                            <h6 class="m-0">Who viewed your profile</h6>
                        </div>
                        <div class="box-body p-3">
                            <% users.forEach( user=> {%>

                                <div class="d-flex align-items-center osahan-post-header mb-3 people-list">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="<%= user.image %>" alt="">
                                    </div>
                                    <div class="font-weight-bold mr-2">
                                        <div class="text-truncate">
                                            <%= user.name %>
                                        </div>
                                        <div class="small text-gray-500">
                                            <%= user.title %>
                                        </div>
                                    </div>
                                    <span class="ml-auto">
                                        <a href="/profile/<%= user._id %> " type="button" class="btn btn-light btn-sm">
                                            <i class="fa-solid fa-square-up-right"></i>
                                        </a>
                                    </span>
                                </div>



                                <% })%>
                        </div>
                    </div>
                    <div class="box shadow-sm mb-3 rounded bg-white ads-box text-center overflow-hidden">
                        <img src="  " class="img-fluid" alt="Responsive image">
                        <div class="p-3 border-bottom">
                            <h6 class="font-weight-bold text-gold">Osahanin Premium</h6>
                            <p class="mb-0 text-muted">Grow &amp; nurture your network</p>
                        </div>
                        <div class="p-3">
                            <button type="button" class="btn btn-outline-gold pl-4 pr-4">
                                ACTIVATE
                            </button>
                        </div>
                    </div>

                    <% if( userProfile.companyName ) { %>
                        <div>
                            <div class="shadow-sm border rounded bg-white job-item mb-3">
                                <div class="d-flex align-items-center p-3 job-item-header">
                                    <div class="overflow-hidden mr-2">
                                        <h6 class="font-weight-bold text-dark mb-2 text-truncate">
                                            <%= userProfile.position%>
                                        </h6>
                                        <div class="text-truncate text-primary mb-2 ">
                                            <%= userProfile.companyName%>
                                        </div>
                                        <div class="small text-gray-500">

                                            <i class="feather-clock"></i>
                                            <%= userProfile.oTime%>
                                        </div>
                                    </div>
                                    <i style=" font-size:90px;" class="    ml-auto fa-solid fa-briefcase"></i>
                                    <!-- <img class="img-fluid ml-auto" src=" " alt="">-->
                                </div>


                            </div>
                        </div>

                        <% }%>

                </aside>
            </div>
        </div>
    </div>
    <%- include('partials/_footer'); %>